body{
  background-color: LightGray;
  
}
header{
  height:30px;
 

}


#qr-reader{
  margin-top: 2%;
  margin-left: 20%;
 margin-right: 15%;

}



.todo{
  margin-left: 10%;
  margin-right: 10%;
  height: 500px;
  background-color: LightGray;



}
table {
  
margin-left: 15%;
margin-right: 20%;
border-collapse: collapse;
border: 1px solid #4c4646;
width: 70%;
align-items: center;
  
}
table th{
    background-color: rgb(68, 62, 62);
    font-size:40px;
    color: #fff;

}

table th, td{
  padding: 1px 5px;
  text-align: left;
  font-size: 15px;

}

table td img{
    width: 22px;
    
  
  }
  select{
    width: 30%;
   height: 25px;
     
  }

  a{
    text-decoration: none;

  }
  
  i{
    width: 60px;
    
  }
  

  
  #Btndownload{
   
    cursor: pointer;
      background-color: #eee5e5;
     width: 80px;
    text-align: center; 
      border-radius: 6px; 
      padding: 8px;
      border-color: #161515;
      border: 20px;
       
  }
  #Btndownload :first-child :hover{
   border: 5px solid blue;
    border-color: #eee5e5;;
   
   
      
  }

  span a{
    display: none;
  }

    #departments{
      display: flex;
      margin-left: 20%;
      margin-top: 2%;
      margin-bottom: 2%;
      gap: 1rem;
    }
    input{
      
      width: 90%;
      height: 18px;
    }
    #preco{
      font-size:20px;

    }

    th:nth-last-child(4n+1){
      width: 10px;
      
    }
    
    
  
    
    
    
    
