body{
  background-color: LightGray;
  
}
header{
  height:30px;
 

}
.todo{
  margin-bottom: 20px;
 

}

main{
  margin: 5%;
  
}
input{
  margin-bottom: 10px;

}
#btns{
  margin-left: 90px;
}




  #Btns{
   width: 95px;
   gap: 30px;
   margin-bottom: 10px;
  

  }



table {
  
border-collapse: collapse;
border: 1px solid #4c4646;
width: 500px;
align-items: center;
  
}
table th{
    background-color: rgb(68, 62, 62);
    font-size:40px;
    color: #fff;

}

table th, td{
  padding: 1px 5px;
  text-align: left;
  font-size: 15px;

}

table td img{
    width: 22px;
    
  
  }
  select{
    width: 30%;
   height: 25px;
     
  }

  a{
    text-decoration: none;

  }
  
  i{
    width: 60px;
    
  }
  

  
  #Btndownload{
   
    cursor: pointer;
      background-color: #eee5e5;
     width: 80px;
    text-align: center; 
      border-radius: 6px; 
      padding: 8px;
      border-color: #161515;
      border: 20px;
       
  }
              
  span a{
    display: none;
  }

    #departments{
      display: flex;
      margin-left: 20%;
      margin-top: 2%;
      margin-bottom: 2%;
      gap: 1rem;
    }
    input{
      
      width: 90%;
      height: 18px;
    }
    #preco{
      font-size:20px;

    }

    th:nth-last-child(4n+1){
      width: 10px;
      
    }
    
    
